@media screen and (min-width: 450px) {
  .picture {
    max-width: 30%;
  }
  .desc {
    max-width: 60%;
  }
}

@media screen and (max-width: 450px) {
  .contact > p {
    display: inline;
  }
}

.contact {
  margin-top: 20%;
}

.contact > p {
  margin: 0;
}

.picture {
  display: inline-block;
  vertical-align: top;
  min-width: 150px;
  padding: 0 30px 30px 30px;
}

img {
  width: 170px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 50%;
}

.desc {
  display: inline-block;
  padding: 0;
  text-align: left;
}

.content {
  text-align: center;
}

.desc > p {
  padding: 0% 5% 5% 5%;
}
