/*GENERAL*/
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #666;
}

/*BANNEER*/
.banner {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
div.jadep {
  height: 90px;
  line-height: 90px;
  font-size: 250%;
  font-weight: bold;
}
nav {
  margin: auto auto;
}
nav > ul {
  list-style-type: none;
  padding: 0px;
}
nav li {
  display: inline-block;
  *display: inline;
}
.nav-link {
  padding: 12px;
  color: #bbb;
  text-decoration: none;
  font-size: 125%;
}
.active a {
  color: #666;
}

/*CONTENT*/
a {
  color: #bbb;
}
.content {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

/*FOOTER*/
.footer {
  text-align: center;
}
